.delete-window {
  width: 20vw;
  border: 3px solid rgba(78, 21, 21, 0.253);
  height: 15vh;
  position: relative;
  top: -25vh;
  left: 30vw;
  background-color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  z-index: 99;
}

.delete-window > p {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.btn-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 4vh;
  justify-content:space-between;
  margin: 20px auto;
  justify-content: space-around;
}

.btn-section > button {
  width: 5vw;
  border-radius: 3px;
  cursor: pointer;
  height: 4vh;
}